/*
!/.gitignore
!/.gitmodules
# Vim stuff
!/.vimrc
!/.vim
!/.vim/*
/.vim/.netrwhist
# Shell stuff
!/.bashrc
# X stuff
!/.Xresources
!/.fonts.conf
!/.xxkbrc
!/.gtkrc-2.0
!/.mplayer
!/.mplayer/config
# Torrents
!/.config
/.config/*
!/.config/transmission-daemon
/.config/transmission-daemon/*
!/.config/transmission-daemon/settings.json
